BCA/WT LAB FILE ASSIGNMENT/43dtd.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE bookss 
[
<!ELEMENT bookss (to,from,heading,body)>
<!ELEMENT to (#PCDATA)>
<!ELEMENT from (#PCDATA)>
<!ELEMENT heading (#PCDATA)>
<!ELEMENT body (#PCDATA)>
<!ELEMENT books(book)>
<!ELEMENT book(title,author,publisher)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!ELEMENT price (#PCDATA)>
]>